@import "variables";

body {
  background-color: $fondoNegro;
}

.contenedor {
  margin: 0 auto;
  width: 42em;
  .fondoCal {
    background-color: $fondoPlateado;
    width: 40em;
    height: 30em;
    padding: 10px;
  }
  .pantalla {
    background-color: $fondoBlanco;
    color: $textoNegro;
    height: 5em;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid $boderNegro;
    p {
      font-size: 40px;
      position: absolute;
      top: -5px;
    }
  }
  .contTableroTipo {
    display: flex;
  }
  .tablero {
    border: 1px solid $boderNegro;
    display: flex;
    flex-flow: row wrap;
    width: 16em;

    .btn-numero {
      background-color: $fondoBlanco;
      color: $textoNegro;
      width: 50px;
      height: 50px;
      font-size: 2em;
      margin: 16px;
      &:hover {
        background-color: $fondoNegro;
        color: $textoBlanco;
      }
    }
    .btn-numero-limpiar {
      background-color: $fondoBlanco;
      color: $textoNegro;
      width: 4em;
      height: 50px;
      font-size: 2em;
      margin: 16px;
      &:hover {
        background-color: $fondoNegro;
        color: $textoBlanco;
      }
    }
  }
  .tipo {
    width: 16em;
    padding: 15px;
    .btn-numero {
      width: 9em;
      height: 50px;
      font-size: 20px;
      margin-bottom: 5px;
      &:hover {
        background-color: $fondoBlanco;
      }
    }
  }
}
