.centrado
{
    text-align: center;
    text-transform: uppercase;
}


table{
    margin: 10px auto;
}

table{
    text-transform: uppercase;
}


.workers{
    
    width: 150px;
    height: 150px;

}
