.main {
  .r-container {
      border:5px solid $fondo-blanco;
  }

  .img-contenedor {
    background-color: $fondo-blanco;
    img {
      display: block;
      margin: 1px auto;
      width: 50%;
      height: auto;
    }
  }
  .nom-candidata {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }
  .total-votos {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }
  .por-votos {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }
  .bt-button {
    padding: 15px;
    color: $texto-blanco;
    background-color: $fondo-azul;
    border: 0;
    border-radius: 11px;
    display: block;
    margin: 1px auto;
    width: 30%;
    font-size: 1em;
    &:hover {
      background-color: $fondo-blanco;
      color: $texto-rosa;
    }
  }
  .r-resultados {
    .totalVotantes {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 25px;
    }
    .ganadora {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
    }
  }
}
