header {
  .hTitulo {
      .titulo {
        background-color: $bgAzul;
        padding: 5px;
        margin-bottom: 0;
       
    }
  }
  .hImagen{
      .img-f{
          width: 100%;
          height: 20rem;
      }
  }
}
