main {
  .mForm {
    box-shadow: 3px 3px 6px $bgNegro;
    padding: 1em;
    #idCliente {
      width: 80%;
    }
    #idProducto {
      width: 50%;
    }
    #idCantidad {
      width: 40%;
    }
  }
  .mTable {
    box-shadow: 3px 3px 6px $bgNegro;
  }
}
