$textoNegroVerde: rgba(1, 15, 1, 0.94);
$textoBlanco: #fff;
$textoVerde: rgba(5, 100, 21, 0.918);


$bgPlateado: rgba(238, 237, 237, 0.808);
$bgNegro: #000;
$borderRojo: rgba(230, 38, 38, 0.842);
$bgAzul:#033c60;
