/*Estilos para Arrays en CSS*/

body {
    font-family: tahoma;
    font-size: center;
}

.centrado {
    text-align: center;
}

table {
    margin: auto;
}

img {
    margin: 10px auto;
    display: block;
    
}

.fila {
    font-size: 13px;
    background: #b9c9fe;
    color: #039;
}

#error {
    color: rgb(255, 0, 0);
}

#codigo {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

table th {
    background-color: #b9c9fe;
}