/*
  Formato de los ejercicios condicionales
*/

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}

.centrado {
    text-align: center;
}

table {
    margin: 20px auto;
}

img {
    margin: 10px auto;
    display: block;
    height: 200px;
    width: 600px;
}