<div class="row">
  <div class="col text-center">
    <img src="assets/img/{{intentos}}.png"  class="ahorcado-img" alt="9.png">

    <h3>Intentos <small> {{intentos}} / 9</small></h3>

  </div>
</div>
<div class="row">
  <div class="col text-center">
    <h1> {{palabraOculta}}</h1>

  </div>
</div>

<div class="row" *ngIf="gano">
  <div class="col text-center">
    <h4>Felicidades GANASTE!!</h4>
    <h3>^_^</h3>

  </div>
</div>
<div class="row" *ngIf="perdio">
  <div class="col text-center">
    <h4>Lo siento PERDISTE!! x_x</h4>
    <h3>{{palabra}}</h3>

  </div>
</div>
<div class="row" *ngIf="!gano && !perdio">
  <div class="col text-center">
    <button (click)="comprobar(letra)" *ngFor="let letra of letras" class="btn btn-primary mt-5 ml-1">
      {{ letra }}
    </button>
    

  </div>
</div>



