main {
  .mContenido {
    padding: 1rem;
    .titulo {
      text-align: center;
      text-transform: uppercase;
      color: $textBlanco;
      background-color: $textNegro;
      padding: 5px;
      border-radius: 1rem;
    }
    .listaContenido {
      .listaRecurso {
        font-size: 15px;
        .link {
          text-decoration: none;
          color: $textNegro;
          cursor: pointer;
          &:hover {
            color: $textAzul;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}
