header img{
    display:block;
    width: 1000px;
    height: 500px;
    border: 1px solid red;
    margin: 0px auto;    


}

header h2{
    text-align: center;
    text-transform: uppercase;
}

header h5{
    text-align: center;
    text-transform: uppercase;
}


.main table{
  margin: 0px auto;

}

.main table thead{
    background: cornflowerblue;
    color:white;
    text-align: center;
    text-transform: uppercase;
    
}

.main table thead th{
    padding: 5px 20px;
    
}


.main table thead td{
    padding: 5px 20px;
    
}








