header {
  .hLogo {
    background-color: $bgVerde5;
    padding: 10px;
    .logo0,
    .logo1,
    .logo2,
    .logo3 {
      font-size: 2em;
      font-weight: 400;
      color: $txtBlanco;
    }
    .logo0{
        color: $bgNaranga;
        margin: 0 10px;
    }
    

  }
}
