$txtNegro:#000;
$txtBlanco:#fff;
$txtAmarillo:rgba(246, 250, 24, 0.911);
$txtRojo:rgba(255, 0, 0, 0.472);
$txtRosa:rgba(246, 70, 238, 0.596);
$txtAzul:rgba(62, 48, 248, 0.671);
$txtAzul2:rgba(101, 90, 248, 0.534);
$txtAzul3:rgb(0,0,255);

$bgVerde:rgb(20, 132, 1);
$bgVerde5:#55a239;
$bgAmarillo:rgba(246, 250, 24, 0.911);
$bgNaranga:#ff8000;
$bgRojo:rgba(255, 0, 0, 0.472);
$bgRosa:rgba(246, 70, 238, 0.596);
$bgAzul:rgba(114, 5, 176, 0.64);
$bgPlateado:rgba(251, 248, 248, 0.561);