body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

h3, h5 {
    text-align: center;
}

.centrado {
    text-align: center;
    text-transform: uppercase;
}

table {
    margin: 10px auto;
}

.carrito {
    width: 150px;
    height: 150px;
}

table th{
    background-color: #b9c9fe;
    text-align: left;
    text-transform: uppercase;
}